* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #eeeeee;
}
.logo {
  height: 50px;
}
.navbar{
  background-color: white;

}
.container {
  border-radius: 10px;
  padding: 20px 90px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 90px;
}
.l-input {
  border: none;
}
span {
  font-size: 20px;
  font-weight: 600;
  color: gray;
}
.l-input:focus {
  outline: none;
}
.s-input:focus {
  outline: none;
}
.s-input {
  border: none;
  width: 500px;
}
.adjust {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
  display: flex;
    align-items: center;
    gap: 20px;
}

.location,.search {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
.auth-buttons {
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.adjust {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.bar {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.option{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    cursor: pointer;
}
.select{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 60px;
}
.option:hover{
    background-color: #eeeeee;
    border-radius: 10px;
}
.main{
    padding: 20px 90px;
}
.about{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 70px;
}
.i-spot{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    position: relative;
}
.collection{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    justify-content: space-between;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
    cursor: pointer;
    border-radius: 10px;
}
.text{
    position: absolute;
    bottom: 80px;
    margin-left: 20px;
    color: white;
}
.filter{
    height: 20px;
    cursor: pointer;
}
.ratings-option{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ratings-option,.r-option{
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 15px;
    border: 2px solid gray;
    color: rgb(125, 118, 118);
}
.ratings{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 40px;
}
.thumbnail{
    height: 300px;
    cursor: pointer;
    margin-top: 40px;
    width: 1400px;
    margin-left: 40px;
}
.head-line{
  margin-top: 20px;
  font-size: 40px;
  font-weight: 10;
}
.review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
    justify-content: space-between;
}
.r-spot{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.review-card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
    border-radius: 10px;
}